.filterRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.mobileBtn{
    display: none !important;
}

.iconActive{
    background-color: white;
    color: black;
}
.iconDeactive{
    background-color: rgb(78, 74, 78);
    color: black;
}


